---
---

@import "{{ site.theme }}";

.highlight {
    background: #282C34; //DONE
    .lineno { color: #4B5363!important;}

    .c     { color: #667689!important; font-style: italic!important } // Comment
    .err   { color: #a61717!important; background-color: #e3d2d2!important } // Error
    .k     { font-weight: bold!important } // Keyword
    .o     { font-weight: bold!important } // Operator
    .cm    { color: #667689!important; font-style: italic!important } // Comment.Multiline
    .cp    { color: #ABB2BF!important; } // Comment.Preproc
    .c1    { color: #667689!important; font-style: italic!important } // Comment.Single
    .cs    { color: #667689!important; font-weight: bold!important; font-style: italic!important } // Comment.Special
    .gd    { color: #000!important; background-color: #fdd!important } // Generic.Deleted
    .gd .x { color: #000!important; background-color: #faa!important } // Generic.Deleted.Specific
    .ge    { font-style: italic!important } // Generic.Emph
    .gr    { color: #a00!important } // Generic.Error
    .gh    { color: #999!important } // Generic.Heading
    .gi    { color: #000!important; background-color: #dfd!important } // Generic.Inserted
    .gi .x { color: #000!important; background-color: #afa!important } // Generic.Inserted.Specific
    .go    { color: #888!important } // Generic.Output
    .gp    { color: #555!important } // Generic.Prompt
    .gs    { font-weight: bold!important } // Generic.Strong
    .gu    { color: #aaa!important } // Generic.Subheading
    .gt    { color: #a00!important } // Generic.Traceback
    .k     {color:  #ABB2BF!important; font-weight: normal!important;}
    .kc    { font-weight: bold!important } // Keyword.Constant
    .kd    { color: #C678DD!important; } // Keyword.Declaration
    .kp    { font-weight: bold!important } // Keyword.Pseudo
    .kr    { color: #C678DD!important; } // Keyword.Reserved
    .kt    { color: #458!important; font-weight: bold!important } // Keyword.Type
    .m     { color: #64B6C3!important } // Literal.Number
    .p     {color: #ABB2BF!important;}
    .s     { color: #98C379!important } // Literal.String
    .na    { color: #D19A66!important; } // Name.Attribute
    .nb    { color: #D19A66!important; } // Name.Builtin
    .nc    { color: #CD9A61!important; } // Name.Class
    .no    { color: #008080!important } // Name.Constant
    .ni    { color: #800080!important } // Name.Entity
    .ne    { color: #6CAFF2!important; font-weight: bold!important } // Name.Exception
    .nf    { color: #6CAFF2!important; } // Name.Function
    .nn    { color: #555!important } // Name.Namespace
    .nt    { color: #D86C74!important } // Name.Tag
    .nv    { color: #008080!important } // Name.Variable
    .nx    { color: #D19A66!important;}
    .ow    { font-weight: bold!important } // Operator.Word
    .w     { color: #bbb!important } // Text.Whitespace
    .mf    { color: #099!important } // Literal.Number.Float
    .mh    { color: #099!important } // Literal.Number.Hex
    .mi    { color: #099!important } // Literal.Number.Integer
    .mo    { color: #099!important } // Literal.Number.Oct
    .sb    { color: #d14!important } // Literal.String.Backtick
    .sc    { color: #d14!important } // Literal.String.Char
    .sd    { color: #d14!important } // Literal.String.Doc
    .s2    { color: #98C379!important; } // Literal.String.Double
    .se    { color: #d14!important } // Literal.String.Escape
    .sh    { color: #d14!important } // Literal.String.Heredoc
    .si    { color: #d14!important } // Literal.String.Interpol
    .sx    { color: #d14!important } // Literal.String.Other
    .sr    { color: #009926!important } // Literal.String.Regex
    .s1    { color: #98C379!important; } // Literal.String.Single
    .ss    { color: #990073!important } // Literal.String.Symbol
    .bp    { color: #999!important } // Name.Builtin.Pseudo
    .vc    { color: #008080!important } // Name.Variable.Class
    .vg    { color: #008080!important } // Name.Variable.Global
    .vi    { color: #008080!important } // Name.Variable.Instance
    .il    { color: #099!important } // Literal.Number.Integer.Long
}
