<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m4" id="sidebarre">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m8">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
        {% include disqus.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
  
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</body>
</html>
